.content-container {
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 520px;
  height: 100%;
  margin-top: 50px;
}

.content-div {
  width: 520px;
  height: 700px;
  background-color: #000000;
  border-radius: 60px;
  background-color: tomato;
}

.content-img {
  width: 520px;
  height: 700px;
  object-fit: cover;
  border-radius: 60px;
}
