.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-content-container {
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 520px;
  height: 100%;
  margin-top: 50px;
}

.home-seperator {
  height: 50px;
  display: flex;
}
